@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a class="navbar-brand" asp-controller="Users" asp-action="Index">Agregar Usuarios</a>
</div>

<div class="text-center">
    <a class="navbar-brand" asp-controller="Productos" asp-action="Index">Agregar Producto</a>
</div>

<div class="text-center">
    <a class="navbar-brand" asp-controller="Ventas" asp-action="Index">Agregar Venta</a>
</div>


