
@{
    ViewData["Title"] = "Reporte";
}

<div class="container mt-5">
    <p>
        <a asp-action="Productos" class="btn btn-primary">Reporte Productos</a>
    </p>

    <p>
        <a asp-action="Ventas" class="btn btn-primary">Reporte Ventas</a>
    </p>
</div>
