@model FarmaciaLasFlores.Models.ResetPasswordViewModel

<h2>Restablecer Contraseña</h2>
<form method="post">
    <input type="hidden" name="token" value="@ViewData["Token"]" />

    <label>Nueva Contraseña:</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Restablecer</button>
</form>

<p>@ViewBag.Message</p>
