<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmaciaLasFlores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmaciaLasFlores.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (!User.Identity.IsAuthenticated)
        {
            <!-- Navbar para usuarios no autenticados -->
            <nav class="navbar navbar-expand-sm navbar-light border-bottom shadow-sm" style="background-color: #ede6e9;">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand text-dark" asp-controller="Home" asp-action="Index">FarmaciaLasFlores</a> -->
                </div>
            </nav>
        }
        else
        {
            <!-- Navbar para usuarios autenticados -->
            <nav class="navbar navbar-expand-sm navbar-dark border-bottom shadow-sm" style="background-color: #1b3488;">
                <div class="container-fluid">
                    <a class="navbar-brand text-white fw-bold" asp-controller="Home" asp-action="Index">FarmaciaLasFlores</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Principal</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Login" class="d-inline">
                                    <button type="submit" class="nav-link btn btn-link text-white"
                                            onmouseover="this.style.color='#c43f48'"
                                            onmouseout="this.style.color='white'">
                                        Cerrar Sesión
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container py-3" style="background-color: #ede6e9; min-height: 80vh;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted py-1" style="background-color: #ede6e9; border-top: 1px solid #7583a0; font-size: 0.875rem;">
        <div class="container text-center" style="color: #171d18;">
            &copy; 2025 - <strong>FarmaciaLasFlores</strong>
        </div>
    </footer>



    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

