html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Centrar el título */
h2 {
    font-size: 2rem;
    color: #4CAF50; /* Verde claro */
}

/* Botón de recuperación de contraseña */
.btn-link {
    color: #007bff; /* Color azul típico de enlaces */
    text-decoration: none; /* Eliminar subrayado */
}

    .btn-link:hover {
        color: #0056b3; /* Color al pasar el mouse */
        text-decoration: underline;
    }

/* Estilo del alert de error */
.alert-danger {
    margin-top: 20px;
    font-size: 1.1rem;
}
